{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="seven wide column"><img src="images/poi.png" class="ui large image" /></aside>
        <article class="seven wide column">
            <h1 class="ui header">POI Assignment</h1>
            <header class="ui header">Enterprise Web Development</header>
            <header class="ui header">Aidan O'Brien</header>
            <p>An assignment exploring POI (using Islands as a data set)</p>
            <p>aidanob1713@hotmail.com</p>

            {{> error }}
        </article>
    </div>
</section>